# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos de configuración local
.env
config.local.py

# Archivos de Chrome
chromedriver.exe
chromedriver
